<head>
  <link rel="stylesheet" href="stylesheets/about.css">
</head>
<body>
    <div class="container">
      <div class="black">
        <h2>¿Quiénes</h2>
      </div>

      <div class="white">        
        <h2>Somos?</h2>      
        <article>
          <p>
            Accusantium a optio illo perspiciatis at maiores quam voluptatum
            nemo distinctio mollitia similique doloremque nihil veniam cum, quo
            reprehenderit accusamus quis saepe.
          </p>
          <p>
            Accusantium a optio illo perspiciatis at maiores quam voluptatum
            nemo distinctio mollitia similique doloremque nihil veniam cum, quo
            reprehenderit accusamus quis saepe.
          </p>
        </article>
        <div class="btn">
          <a href="/"><input type="button" value="Home" /></a>
        </div>
      </div>
    </div>
  </body>