<head>
  <link rel="stylesheet" href="stylesheets/contact.css" />
</head>
<body>
  <section class="formContainer">
    <form class="form" action="/contact" method="POST">
      <label for="nombre"></label>
      <input type="text" name="nombre" autofocus placeholder="Nombre" />
      <label for="apellido"></label>
      <input type="text" name="apellido" placeholder="Apellido" />
      <label for="email"></label>
      <input type="email" name="email" placeholder="E-Mail" />
      <label for="mensaje"></label>
      <textarea
        name="mensaje"
        cols="30"
        rows="6"
        placeholder="Su mensaje aquí..."
      ></textarea>
      <div class="btn">
        <input type="reset" value="Limpiar" />
        <input type="submit" value="Enviar" />
        <a href="/"><input type="button" value="Home" /></a>
      </div>
      <p>{{message}}</p>
    </form>
  </section>
</body>