<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap" rel="stylesheet">


  <!-- Material Design Icons (para usar la flechita que lleva a top, antes de footer) -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <!-- FontAwesome Icons (para iconos de redes sociales en el footer)-->
  <script src="https://kit.fontawesome.com/2441c80487.js" crossorigin="anonymous"></script>


  <!-- hoja de estilos css -->
  <link rel="stylesheet" href="stylesheets/style.css" />
  {{!-- <link rel="stylesheet" href="stylesheets/contact.css" /> --}}
  {{!-- <link rel="stylesheet" href="stylesheets/about.css" /> --}}

  <!-- archivo de JavaScript -->
  {{!-- <script defer src="javascripts/menu.js"></script> --}}

  <!-- icono y título de la pestaña del navegador -->
  <link rel="icon" href="images/logo_icon.png" />
  <title>Coffee House</title>
</head>

<body>
  {{{body}}}

</html>
