<body>
  <form action="/login" method="post">
    <input name="userForm" type="text" placeholder="user" />
    <input name="passForm" type="password" placeholder="password" />
    <br />
    <input type="submit" value="validar" />
  </form>
</body>